@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/************GERAL*******/
*{

    margin:0;
    font-family: 'Roboto', sans-serif;
    
}


/************CABEÇALHO*******/
header{

    margin-top: 0;
    width: 100%;
    height: 70px;

}

#cabecalho{

    border: #D6000D 1px solid;
    width: 80%;
    margin: auto;
}

header nav{

    float: right;
    width: 480px;
    margin-right: 1%;
    margin-top: 35px;

}

header ul li{
    
    margin-bottom: 0px;
    font-weight: bold;
    padding: 5px;
    margin-right: 10px;
    padding-left: 10px;
    display: inline-block;
    border-radius: 10px;
}

ul li#login{
    
    background-color: #D6000D;
    color: #ffffff;
    margin-left: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 7px;
    padding-bottom: 7px;

}


header #logo{

    padding-top: 32px;
    color: #D6000D;
    font-size: xx-large;
    font-style: italic;
    font-weight: bolder;
    display: inline-flex;
    margin-left: 3%;

}

header #logo #ponto{
    
    color: black;
    padding-left: 2px;
}

/************CONTEUDO*******/
#conteudo{

    border: #D6000D 1px solid;
    max-width: 900px;
    max-height: 1230px;
    margin: auto;
    margin-top: 100px;

}

section {

    border: #D6000D 1px solid;
    max-height: 320px;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;   
    
}

#sec1, #sec3{

    margin-bottom: 100px;

}

.sub-sec{

    max-width: 400px;
    display: flex;
}

#sec1 .sub-sec{

    border: 1px solid red;
    flex-direction: column;
    margin-right: 20px;
}

#sec1 .sub-sec h3{

    margin-top: 60px;
}

#sec1 .sub-sec h1{

    font-size: 52px;
    color: #D6000D;
    margin-bottom: 40px;
}

.sub-sec input{

    border: none;
    font-size: 18px;
    max-width: 270px;
    border-radius: 6px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;

}



.sub-sec input[type=button]{

    background-color: #D6000D;
    color: #ffffff;
    padding-left: 35px;
    padding-right: 35px;
    
    
}

#sec2 .sub-sec{

    border: 1px solid red;
    align-items: center;
}

section img{

    max-width: 400px;
    margin-right: 2%;
    margin-left: 2%;
    border: 1px solid red;

}

section ul{

    margin-left: 20px;
    margin-top: 25px;
    border: 1px solid red;
    max-width: 400px;

}


section ul li{

    list-style: url('assets/check.png');
    margin-left: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid red;
    max-width: 300px;

}


#sec3{

    flex-direction: column;
    padding: 15px;
}

#sec3 h3{

    border: red 1px solid;
    margin-bottom: 10px;

}

#sec3 .sub-sec{

    border: #D6000D solid 1px;
}

#sec3 .sub-sec input[type=text]{

    margin-right: 10px;
    margin-left: 2px;
    padding-left: 10px;
    font-weight: normal;
    background-color: #e0e0e09f;

}

#sec4{

    margin-bottom: 50px;

}

article {

    background-color: #e0e0e09f;
    border: 1px solid red;
    max-width: 420px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    
}

article img{

    border: 1px solid blue;
    max-width: 100px;
    max-height: 70px;
    margin-right: 20px;

}

article h1{

    border: #D6000D solid 1px;
    font-size: 28px;
    font-weight: normal;
    margin-top: 20px;
}

/************RODAPE*******/
footer{

    
    position: absolute;
    background-color: black;
    color: #ffffff;
    margin-bottom: 0px;
    width: 100%;
    height: 200px;
   

}

footer #rodape div{
    border: #D6000D 1px solid;
    padding: 50px;
    padding-left: 20px;
    text-align: left;
    max-width: 200px;
    

}

footer #rodape h1{

    font-style: italic;

}

footer #rodape p{

    max-width: 200px;
    text-align: start;
    margin-top: 10px;
    
}

#rodape{

    
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 0;
    max-height: 198px;
    
}


#sobre p{
    width: 180px;
}

#rodape #redes-icones{

    max-width: 45px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

}

#redes-icones i{
    color: #D6000D;
    margin-left: 7px;
}
